<div class=row>
<div class="col-lg-10">
   <rd-widget>
      <rd-widget-header icon=fa-tasks title=books>
     	 <div class="pull-right">
         	<button class="btn btn-sm btn-info" ng-click="back()">Back</button>
         </div>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
            <div class="form-group">
               <div class="row">
                  <div class="col-md-6">
                     <label for="title">Title:</label>
                     <input type="text" class="form-control" id="title" ng-model="book.title">
                  </div>
               </div>
               
               <button class="btn btn-sm btn-info" ng-click="save()">Save</button>
               <button class="btn btn-sm btn-info" ng-click="clear()">Cancel</button>
      </rd-widget-body>
   </rd-widget>
   </div>
</div>