<div class=row>
<div class="col-lg-10">
   <rd-widget>
      <rd-widget-header icon="fa-tasks" title="loanBook">
       <label><u>{{book.title}}</u></label>
     	 <div class="pull-right">
         	<button class="btn btn-sm btn-info" ng-click="back()">Back</button>
         </div>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
            <div class="form-group">
               <div class="row">
                  <div class="col-md-6">
                     <label for="user">User:</label>
                     <select ng-model="user" ng-options="user.name for user in users">
                     </select>
                  </div>
               </div>
               <button class="btn btn-sm btn-info" ng-click="loan()">Loan</button>
               <button class="btn btn-sm btn-info" ng-click="clear()">Cancel</button>
      </rd-widget-body>
   </rd-widget>
   </div>
</div>