<div class=row>
<div class="col-lg-10">
   <rd-widget>
      <rd-widget-header icon=fa-tasks title=users>
     	 <div class="pull-right">
         	<button class="btn btn-sm btn-info" ng-click="back()">Back</button>
         </div>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
            <div class="form-group">
               <div class="row">
                  <div class="col-md-6">
                     <label for="name">Name:</label>
                     <input type="text" class="form-control" id="name" ng-model="user.name">
                  </div>
               </div>
               
               <button class="btn btn-sm btn-info" ng-click="save()">Save</button>
               <button class="btn btn-sm btn-info" ng-click="clear()">Cancel</button>
      </rd-widget-body>
   </rd-widget>
   <rd-widget-body classes="medium no-padding">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th></th>
                     </tr>
                  </thead>

                  <tbody ng-repeat="bookLoan in bookLoans">
                     <tr>
                        <td>{{bookLoan.book.title}}</td>
                        <td>{{bookLoan.book.author}}</td>
                        <td><span class=text-success><i class="fa fa-arrow-down" ng-click="returnBook(bookLoan)"></i></span></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </rd-widget-body>
   </div>
</div>